


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "extensions";


ALTER SCHEMA "extensions" OWNER TO "postgres";


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE TYPE "public"."content_type" AS ENUM (
    'image',
    'video'
);


ALTER TYPE "public"."content_type" OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "extensions"."grant_pg_cron_access"() RETURNS "event_trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  IF EXISTS (
    SELECT
    FROM pg_event_trigger_ddl_commands() AS ev
    JOIN pg_extension AS ext
    ON ev.objid = ext.oid
    WHERE ext.extname = 'pg_cron'
  )
  THEN
    grant usage on schema cron to postgres with grant option;

    alter default privileges in schema cron grant all on tables to postgres with grant option;
    alter default privileges in schema cron grant all on functions to postgres with grant option;
    alter default privileges in schema cron grant all on sequences to postgres with grant option;

    alter default privileges for user supabase_admin in schema cron grant all
        on sequences to postgres with grant option;
    alter default privileges for user supabase_admin in schema cron grant all
        on tables to postgres with grant option;
    alter default privileges for user supabase_admin in schema cron grant all
        on functions to postgres with grant option;

    grant all privileges on all tables in schema cron to postgres with grant option;
    revoke all on table cron.job from postgres;
    grant select on table cron.job to postgres with grant option;
  END IF;
END;
$$;


ALTER FUNCTION "extensions"."grant_pg_cron_access"() OWNER TO "supabase_admin";


COMMENT ON FUNCTION "extensions"."grant_pg_cron_access"() IS 'Grants access to pg_cron';



CREATE OR REPLACE FUNCTION "extensions"."grant_pg_graphql_access"() RETURNS "event_trigger"
    LANGUAGE "plpgsql"
    AS $_$
DECLARE
    func_is_graphql_resolve bool;
BEGIN
    func_is_graphql_resolve = (
        SELECT n.proname = 'resolve'
        FROM pg_event_trigger_ddl_commands() AS ev
        LEFT JOIN pg_catalog.pg_proc AS n
        ON ev.objid = n.oid
    );

    IF func_is_graphql_resolve
    THEN
        -- Update public wrapper to pass all arguments through to the pg_graphql resolve func
        DROP FUNCTION IF EXISTS graphql_public.graphql;
        create or replace function graphql_public.graphql(
            "operationName" text default null,
            query text default null,
            variables jsonb default null,
            extensions jsonb default null
        )
            returns jsonb
            language sql
        as $$
            select graphql.resolve(
                query := query,
                variables := coalesce(variables, '{}'),
                "operationName" := "operationName",
                extensions := extensions
            );
        $$;

        -- This hook executes when `graphql.resolve` is created. That is not necessarily the last
        -- function in the extension so we need to grant permissions on existing entities AND
        -- update default permissions to any others that are created after `graphql.resolve`
        grant usage on schema graphql to postgres, anon, authenticated, service_role;
        grant select on all tables in schema graphql to postgres, anon, authenticated, service_role;
        grant execute on all functions in schema graphql to postgres, anon, authenticated, service_role;
        grant all on all sequences in schema graphql to postgres, anon, authenticated, service_role;
        alter default privileges in schema graphql grant all on tables to postgres, anon, authenticated, service_role;
        alter default privileges in schema graphql grant all on functions to postgres, anon, authenticated, service_role;
        alter default privileges in schema graphql grant all on sequences to postgres, anon, authenticated, service_role;

        -- Allow postgres role to allow granting usage on graphql and graphql_public schemas to custom roles
        grant usage on schema graphql_public to postgres with grant option;
        grant usage on schema graphql to postgres with grant option;
    END IF;

END;
$_$;


ALTER FUNCTION "extensions"."grant_pg_graphql_access"() OWNER TO "supabase_admin";


COMMENT ON FUNCTION "extensions"."grant_pg_graphql_access"() IS 'Grants access to pg_graphql';



CREATE OR REPLACE FUNCTION "extensions"."grant_pg_net_access"() RETURNS "event_trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  IF EXISTS (
    SELECT 1
    FROM pg_event_trigger_ddl_commands() AS ev
    JOIN pg_extension AS ext
    ON ev.objid = ext.oid
    WHERE ext.extname = 'pg_net'
  )
  THEN
    IF NOT EXISTS (
      SELECT 1
      FROM pg_roles
      WHERE rolname = 'supabase_functions_admin'
    )
    THEN
      CREATE USER supabase_functions_admin NOINHERIT CREATEROLE LOGIN NOREPLICATION;
    END IF;

    GRANT USAGE ON SCHEMA net TO supabase_functions_admin, postgres, anon, authenticated, service_role;

    IF EXISTS (
      SELECT FROM pg_extension
      WHERE extname = 'pg_net'
      -- all versions in use on existing projects as of 2025-02-20
      -- version 0.12.0 onwards don't need these applied
      AND extversion IN ('0.2', '0.6', '0.7', '0.7.1', '0.8', '0.10.0', '0.11.0')
    ) THEN
      ALTER function net.http_get(url text, params jsonb, headers jsonb, timeout_milliseconds integer) SECURITY DEFINER;
      ALTER function net.http_post(url text, body jsonb, params jsonb, headers jsonb, timeout_milliseconds integer) SECURITY DEFINER;

      ALTER function net.http_get(url text, params jsonb, headers jsonb, timeout_milliseconds integer) SET search_path = net;
      ALTER function net.http_post(url text, body jsonb, params jsonb, headers jsonb, timeout_milliseconds integer) SET search_path = net;

      REVOKE ALL ON FUNCTION net.http_get(url text, params jsonb, headers jsonb, timeout_milliseconds integer) FROM PUBLIC;
      REVOKE ALL ON FUNCTION net.http_post(url text, body jsonb, params jsonb, headers jsonb, timeout_milliseconds integer) FROM PUBLIC;

      GRANT EXECUTE ON FUNCTION net.http_get(url text, params jsonb, headers jsonb, timeout_milliseconds integer) TO supabase_functions_admin, postgres, anon, authenticated, service_role;
      GRANT EXECUTE ON FUNCTION net.http_post(url text, body jsonb, params jsonb, headers jsonb, timeout_milliseconds integer) TO supabase_functions_admin, postgres, anon, authenticated, service_role;
    END IF;
  END IF;
END;
$$;


ALTER FUNCTION "extensions"."grant_pg_net_access"() OWNER TO "supabase_admin";


COMMENT ON FUNCTION "extensions"."grant_pg_net_access"() IS 'Grants access to pg_net';



CREATE OR REPLACE FUNCTION "extensions"."pgrst_ddl_watch"() RETURNS "event_trigger"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  cmd record;
BEGIN
  FOR cmd IN SELECT * FROM pg_event_trigger_ddl_commands()
  LOOP
    IF cmd.command_tag IN (
      'CREATE SCHEMA', 'ALTER SCHEMA'
    , 'CREATE TABLE', 'CREATE TABLE AS', 'SELECT INTO', 'ALTER TABLE'
    , 'CREATE FOREIGN TABLE', 'ALTER FOREIGN TABLE'
    , 'CREATE VIEW', 'ALTER VIEW'
    , 'CREATE MATERIALIZED VIEW', 'ALTER MATERIALIZED VIEW'
    , 'CREATE FUNCTION', 'ALTER FUNCTION'
    , 'CREATE TRIGGER'
    , 'CREATE TYPE', 'ALTER TYPE'
    , 'CREATE RULE'
    , 'COMMENT'
    )
    -- don't notify in case of CREATE TEMP table or other objects created on pg_temp
    AND cmd.schema_name is distinct from 'pg_temp'
    THEN
      NOTIFY pgrst, 'reload schema';
    END IF;
  END LOOP;
END; $$;


ALTER FUNCTION "extensions"."pgrst_ddl_watch"() OWNER TO "supabase_admin";


CREATE OR REPLACE FUNCTION "extensions"."pgrst_drop_watch"() RETURNS "event_trigger"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  obj record;
BEGIN
  FOR obj IN SELECT * FROM pg_event_trigger_dropped_objects()
  LOOP
    IF obj.object_type IN (
      'schema'
    , 'table'
    , 'foreign table'
    , 'view'
    , 'materialized view'
    , 'function'
    , 'trigger'
    , 'type'
    , 'rule'
    )
    AND obj.is_temporary IS false -- no pg_temp objects
    THEN
      NOTIFY pgrst, 'reload schema';
    END IF;
  END LOOP;
END; $$;


ALTER FUNCTION "extensions"."pgrst_drop_watch"() OWNER TO "supabase_admin";


CREATE OR REPLACE FUNCTION "extensions"."set_graphql_placeholder"() RETURNS "event_trigger"
    LANGUAGE "plpgsql"
    AS $_$
    DECLARE
    graphql_is_dropped bool;
    BEGIN
    graphql_is_dropped = (
        SELECT ev.schema_name = 'graphql_public'
        FROM pg_event_trigger_dropped_objects() AS ev
        WHERE ev.schema_name = 'graphql_public'
    );

    IF graphql_is_dropped
    THEN
        create or replace function graphql_public.graphql(
            "operationName" text default null,
            query text default null,
            variables jsonb default null,
            extensions jsonb default null
        )
            returns jsonb
            language plpgsql
        as $$
            DECLARE
                server_version float;
            BEGIN
                server_version = (SELECT (SPLIT_PART((select version()), ' ', 2))::float);

                IF server_version >= 14 THEN
                    RETURN jsonb_build_object(
                        'errors', jsonb_build_array(
                            jsonb_build_object(
                                'message', 'pg_graphql extension is not enabled.'
                            )
                        )
                    );
                ELSE
                    RETURN jsonb_build_object(
                        'errors', jsonb_build_array(
                            jsonb_build_object(
                                'message', 'pg_graphql is only available on projects running Postgres 14 onwards.'
                            )
                        )
                    );
                END IF;
            END;
        $$;
    END IF;

    END;
$_$;


ALTER FUNCTION "extensions"."set_graphql_placeholder"() OWNER TO "supabase_admin";


COMMENT ON FUNCTION "extensions"."set_graphql_placeholder"() IS 'Reintroduces placeholder function for graphql_public.graphql';



CREATE OR REPLACE FUNCTION "public"."check_invite_codes_limit"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  active_count INT;
BEGIN
  SELECT COUNT(*) INTO active_count
  FROM invite_codes
  WHERE creator_id = NEW.creator_id
    AND used_by_id IS NULL
    AND expires_at > NOW();

  IF active_count >= 100 THEN
    RAISE EXCEPTION 'Maximum of 100 active invite codes reached';
  END IF;

  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."check_invite_codes_limit"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."cleanup_unsaved_posts"() RETURNS json
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
DECLARE
  v_deleted_count INT;
  v_cutoff TIMESTAMPTZ;
BEGIN
  v_cutoff := NOW() - INTERVAL '24 hours';

  DELETE FROM posts
  WHERE calendar_saved_at IS NULL
    AND published_at < v_cutoff;

  GET DIAGNOSTICS v_deleted_count = ROW_COUNT;

  RETURN json_build_object(
    'success', true,
    'deleted_count', v_deleted_count,
    'cutoff_time', v_cutoff,
    'executed_at', NOW()
  );
END;
$$;


ALTER FUNCTION "public"."cleanup_unsaved_posts"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_friends_locked_out"() RETURNS TABLE("lockout_id" "uuid", "user_id" "uuid", "username" "text", "avatar_url" "text", "started_at" timestamp with time zone, "ends_at" timestamp with time zone, "action_text" "text", "location_lat" double precision, "location_lng" double precision, "location_name" "text", "participants" "uuid"[])
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
DECLARE
  v_user_id UUID;
BEGIN
  v_user_id := auth.uid();

  IF v_user_id IS NULL THEN
    RAISE EXCEPTION 'User not authenticated';
  END IF;

  RETURN QUERY
  SELECT
    ls.id AS lockout_id,
    ls.user_id,
    prof.username,
    prof.avatar_url,
    ls.started_at,
    ls.ends_at,
    ls.action_text,
    ls.location_lat,
    ls.location_lng,
    ls.location_name,
    ls.participants
  FROM lockout_sessions ls
  JOIN profiles prof ON ls.user_id = prof.id
  WHERE
    ls.ends_at > NOW()
    AND ls.post_id IS NULL
    AND EXISTS (
      SELECT 1 FROM friendships f
      WHERE (f.user_a_id = v_user_id AND f.user_b_id = ls.user_id)
         OR (f.user_b_id = v_user_id AND f.user_a_id = ls.user_id)
    )
  ORDER BY ls.started_at DESC;
END;
$$;


ALTER FUNCTION "public"."get_friends_locked_out"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_notification_feed"() RETURNS TABLE("id" "uuid", "type" "text", "reference_id" "uuid", "latest_actor_id" "uuid", "latest_actor_username" "text", "latest_actor_avatar" "text", "actor_count" integer, "created_at" timestamp with time zone, "updated_at" timestamp with time zone, "read_at" timestamp with time zone)
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
DECLARE
  v_user_id UUID;
BEGIN
  v_user_id := auth.uid();

  IF v_user_id IS NULL THEN
    RAISE EXCEPTION 'User not authenticated';
  END IF;

  UPDATE profiles SET notifications_checked_at = NOW() WHERE id = v_user_id;

  RETURN QUERY
  SELECT
    n.id,
    n.type,
    n.reference_id,
    n.latest_actor_id,
    actor.username AS latest_actor_username,
    actor.avatar_url AS latest_actor_avatar,
    n.actor_count,
    n.created_at,
    n.updated_at,
    n.read_at
  FROM notifications n
  LEFT JOIN profiles actor ON n.latest_actor_id = actor.id
  WHERE n.user_id = v_user_id
  ORDER BY n.updated_at DESC
  LIMIT 50;
END;
$$;


ALTER FUNCTION "public"."get_notification_feed"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_post_by_id"("p_post_id" "uuid") RETURNS TABLE("id" "uuid", "author_id" "uuid", "author_username" "text", "author_avatar_url" "text", "lockout_id" "uuid", "thumbnail_url" "text", "thumbnail_width" integer, "thumbnail_height" integer, "content_type" "text", "description" "text", "published_at" timestamp with time zone, "published_timezone" "text", "calendar_saved_at" timestamp with time zone, "excluded_user_ids" "uuid"[], "created_at" timestamp with time zone, "updated_at" timestamp with time zone, "reaction_count" bigint, "comment_count" bigint, "tagged_user_ids" "uuid"[], "tagged_usernames" "text"[])
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
DECLARE
  v_user_id UUID;
BEGIN
  v_user_id := auth.uid();

  IF v_user_id IS NULL THEN
    RAISE EXCEPTION 'User not authenticated';
  END IF;

  RETURN QUERY
  SELECT
    p.id,
    p.author_id,
    prof.username AS author_username,
    prof.avatar_url AS author_avatar_url,
    p.lockout_id,
    p.thumbnail_url,
    p.thumbnail_width,
    p.thumbnail_height,
    p.content_type::TEXT,
    p.description,
    p.published_at,
    p.published_timezone,
    p.calendar_saved_at,
    p.excluded_user_ids,
    p.created_at,
    p.updated_at,
    COALESCE((SELECT COUNT(*) FROM post_reactions pr WHERE pr.post_id = p.id), 0) AS reaction_count,
    COALESCE((SELECT COUNT(*) FROM post_comments pc WHERE pc.post_id = p.id AND pc.deleted_at IS NULL), 0) AS comment_count,
    COALESCE((SELECT array_agg(pt.tagged_user_id) FROM post_tags pt WHERE pt.post_id = p.id), '{}') AS tagged_user_ids,
    COALESCE((SELECT array_agg(pt.username) FROM post_tags pt WHERE pt.post_id = p.id), '{}') AS tagged_usernames
  FROM posts p
  JOIN profiles prof ON p.author_id = prof.id
  WHERE
    p.id = p_post_id
    AND NOT (v_user_id = ANY(p.excluded_user_ids))
    AND (
      p.author_id = v_user_id
      OR EXISTS (
        SELECT 1 FROM friendships f
        WHERE (f.user_a_id = v_user_id AND f.user_b_id = p.author_id)
           OR (f.user_b_id = v_user_id AND f.user_a_id = p.author_id)
      )
    );
END;
$$;


ALTER FUNCTION "public"."get_post_by_id"("p_post_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_post_comments"("p_post_id" "uuid") RETURNS TABLE("id" "uuid", "author_id" "uuid", "author_username" "text", "author_avatar_url" "text", "content" "text", "created_at" timestamp with time zone, "deleted_at" timestamp with time zone)
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
DECLARE
  v_user_id UUID;
BEGIN
  v_user_id := auth.uid();

  IF v_user_id IS NULL THEN
    RAISE EXCEPTION 'User not authenticated';
  END IF;

  -- Verify user can view this post
  IF NOT EXISTS (
    SELECT 1 FROM posts p
    WHERE p.id = p_post_id
      AND NOT (v_user_id = ANY(p.excluded_user_ids))
      AND (
        p.author_id = v_user_id
        OR EXISTS (
          SELECT 1 FROM friendships f
          WHERE (f.user_a_id = v_user_id AND f.user_b_id = p.author_id)
             OR (f.user_b_id = v_user_id AND f.user_a_id = p.author_id)
        )
      )
  ) THEN
    RAISE EXCEPTION 'Post not found or access denied';
  END IF;

  RETURN QUERY
  SELECT
    pc.id,
    pc.author_id,
    prof.username AS author_username,
    prof.avatar_url AS author_avatar_url,
    pc.content,
    pc.created_at,
    pc.deleted_at
  FROM post_comments pc
  JOIN profiles prof ON pc.author_id = prof.id
  WHERE pc.post_id = p_post_id
  ORDER BY pc.created_at ASC;
END;
$$;


ALTER FUNCTION "public"."get_post_comments"("p_post_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_post_reactions"("p_post_id" "uuid") RETURNS TABLE("id" "uuid", "user_id" "uuid", "username" "text", "avatar_url" "text", "reaction" "text", "created_at" timestamp with time zone)
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
DECLARE
  v_user_id UUID;
BEGIN
  v_user_id := auth.uid();

  IF v_user_id IS NULL THEN
    RAISE EXCEPTION 'User not authenticated';
  END IF;

  -- Verify user can view this post
  IF NOT EXISTS (
    SELECT 1 FROM posts p
    WHERE p.id = p_post_id
      AND NOT (v_user_id = ANY(p.excluded_user_ids))
      AND (
        p.author_id = v_user_id
        OR EXISTS (
          SELECT 1 FROM friendships f
          WHERE (f.user_a_id = v_user_id AND f.user_b_id = p.author_id)
             OR (f.user_b_id = v_user_id AND f.user_a_id = p.author_id)
        )
      )
  ) THEN
    RAISE EXCEPTION 'Post not found or access denied';
  END IF;

  RETURN QUERY
  SELECT
    pr.id,
    pr.user_id,
    prof.username,
    prof.avatar_url,
    pr.reaction,
    pr.created_at
  FROM post_reactions pr
  JOIN profiles prof ON pr.user_id = prof.id
  WHERE pr.post_id = p_post_id
  ORDER BY pr.created_at DESC;
END;
$$;


ALTER FUNCTION "public"."get_post_reactions"("p_post_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_unread_notification_count"() RETURNS integer
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
DECLARE
  v_user_id UUID;
  v_count INT;
BEGIN
  v_user_id := auth.uid();

  IF v_user_id IS NULL THEN
    RETURN 0;
  END IF;

  SELECT COUNT(*)::INT INTO v_count
  FROM notifications
  WHERE user_id = v_user_id AND read_at IS NULL;

  RETURN v_count;
END;
$$;


ALTER FUNCTION "public"."get_unread_notification_count"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_user_calendar"("p_target_user_id" "uuid", "p_year" integer, "p_month" integer) RETURNS TABLE("id" "uuid", "author_id" "uuid", "author_username" "text", "author_avatar_url" "text", "thumbnail_url" "text", "thumbnail_width" integer, "thumbnail_height" integer, "content_type" "text", "description" "text", "published_at" timestamp with time zone, "calendar_saved_at" timestamp with time zone, "calendar_day" integer)
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
DECLARE
  v_user_id UUID;
BEGIN
  v_user_id := auth.uid();

  IF v_user_id IS NULL THEN
    RAISE EXCEPTION 'User not authenticated';
  END IF;

  -- Check friendship if not viewing own calendar
  IF p_target_user_id != v_user_id THEN
    IF NOT EXISTS (
      SELECT 1 FROM friendships f
      WHERE (f.user_a_id = v_user_id AND f.user_b_id = p_target_user_id)
         OR (f.user_b_id = v_user_id AND f.user_a_id = p_target_user_id)
    ) THEN
      RAISE EXCEPTION 'Cannot view calendar of non-friend';
    END IF;
  END IF;

  RETURN QUERY
  SELECT
    p.id,
    p.author_id,
    prof.username AS author_username,
    prof.avatar_url AS author_avatar_url,
    p.thumbnail_url,
    p.thumbnail_width,
    p.thumbnail_height,
    p.content_type::TEXT,
    p.description,
    p.published_at,
    p.calendar_saved_at,
    EXTRACT(DAY FROM p.published_at AT TIME ZONE COALESCE(p.published_timezone, 'UTC'))::INT AS calendar_day
  FROM posts p
  JOIN profiles prof ON p.author_id = prof.id
  WHERE
    p.author_id = p_target_user_id
    AND p.calendar_saved_at IS NOT NULL
    AND EXTRACT(YEAR FROM p.published_at AT TIME ZONE COALESCE(p.published_timezone, 'UTC')) = p_year
    AND EXTRACT(MONTH FROM p.published_at AT TIME ZONE COALESCE(p.published_timezone, 'UTC')) = p_month
    AND (p_target_user_id = v_user_id OR NOT (v_user_id = ANY(p.excluded_user_ids)))
  ORDER BY p.published_at DESC;
END;
$$;


ALTER FUNCTION "public"."get_user_calendar"("p_target_user_id" "uuid", "p_year" integer, "p_month" integer) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_user_feed"("p_cursor" timestamp with time zone DEFAULT NULL::timestamp with time zone, "p_page_size" integer DEFAULT 20) RETURNS TABLE("id" "uuid", "author_id" "uuid", "author_username" "text", "author_avatar_url" "text", "lockout_id" "uuid", "thumbnail_url" "text", "thumbnail_width" integer, "thumbnail_height" integer, "content_type" "text", "description" "text", "published_at" timestamp with time zone, "published_timezone" "text", "calendar_saved_at" timestamp with time zone, "excluded_user_ids" "uuid"[], "created_at" timestamp with time zone, "updated_at" timestamp with time zone, "reaction_count" bigint, "comment_count" bigint)
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
DECLARE
  v_user_id UUID;
BEGIN
  v_user_id := auth.uid();

  IF v_user_id IS NULL THEN
    RAISE EXCEPTION 'User not authenticated';
  END IF;

  RETURN QUERY
  SELECT
    p.id,
    p.author_id,
    prof.username AS author_username,
    prof.avatar_url AS author_avatar_url,
    p.lockout_id,
    p.thumbnail_url,
    p.thumbnail_width,
    p.thumbnail_height,
    p.content_type::TEXT,
    p.description,
    p.published_at,
    p.published_timezone,
    p.calendar_saved_at,
    p.excluded_user_ids,
    p.created_at,
    p.updated_at,
    COALESCE((SELECT COUNT(*) FROM post_reactions pr WHERE pr.post_id = p.id), 0) AS reaction_count,
    COALESCE((SELECT COUNT(*) FROM post_comments pc WHERE pc.post_id = p.id AND pc.deleted_at IS NULL), 0) AS comment_count
  FROM posts p
  JOIN profiles prof ON p.author_id = prof.id
  WHERE
    p.published_at > NOW() - INTERVAL '24 hours'
    AND NOT (v_user_id = ANY(p.excluded_user_ids))
    AND (
      p.author_id = v_user_id
      OR EXISTS (
        SELECT 1 FROM friendships f
        WHERE (f.user_a_id = v_user_id AND f.user_b_id = p.author_id)
           OR (f.user_b_id = v_user_id AND f.user_a_id = p.author_id)
      )
    )
    AND (p_cursor IS NULL OR p.published_at < p_cursor)
  ORDER BY p.published_at DESC
  LIMIT p_page_size;
END;
$$;


ALTER FUNCTION "public"."get_user_feed"("p_cursor" timestamp with time zone, "p_page_size" integer) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_user_friends"() RETURNS TABLE("friend_id" "uuid", "username" "text", "biography" "text", "avatar_url" "text", "friendship_created_at" timestamp with time zone)
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
DECLARE
  v_user_id UUID;
BEGIN
  v_user_id := auth.uid();

  IF v_user_id IS NULL THEN
    RAISE EXCEPTION 'User not authenticated';
  END IF;

  RETURN QUERY
  SELECT
    prof.id AS friend_id,
    prof.username,
    prof.biography,
    prof.avatar_url,
    f.created_at AS friendship_created_at
  FROM friendships f
  JOIN profiles prof ON (
    CASE
      WHEN f.user_a_id = v_user_id THEN f.user_b_id = prof.id
      ELSE f.user_a_id = prof.id
    END
  )
  WHERE f.user_a_id = v_user_id OR f.user_b_id = v_user_id
  ORDER BY prof.username;
END;
$$;


ALTER FUNCTION "public"."get_user_friends"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."join_friendship_transaction"("p_invite_id" "uuid", "p_user_id" "uuid", "p_creator_id" "uuid") RETURNS json
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
DECLARE
  v_user_a UUID;
  v_user_b UUID;
  v_joiner_count INT;
  v_creator_count INT;
BEGIN
  -- Check if invite code is still valid
  IF NOT EXISTS (
    SELECT 1 FROM invite_codes
    WHERE id = p_invite_id
      AND used_by_id IS NULL
      AND expires_at > NOW()
  ) THEN
    RETURN json_build_object('success', false, 'error', 'Invite code is invalid, expired, or already used');
  END IF;

  -- Order UUIDs
  IF p_user_id < p_creator_id THEN
    v_user_a := p_user_id;
    v_user_b := p_creator_id;
  ELSE
    v_user_a := p_creator_id;
    v_user_b := p_user_id;
  END IF;

  -- Check if already friends
  IF EXISTS (
    SELECT 1 FROM friendships
    WHERE user_a_id = v_user_a AND user_b_id = v_user_b
  ) THEN
    RETURN json_build_object('success', false, 'error', 'Users are already friends');
  END IF;

  -- Check joiner's friend count (150 limit)
  SELECT COUNT(*) INTO v_joiner_count
  FROM friendships
  WHERE user_a_id = p_user_id OR user_b_id = p_user_id;

  IF v_joiner_count >= 150 THEN
    RETURN json_build_object('success', false, 'error', 'You have reached the maximum of 150 friends');
  END IF;

  -- Check creator's friend count (150 limit)
  SELECT COUNT(*) INTO v_creator_count
  FROM friendships
  WHERE user_a_id = p_creator_id OR user_b_id = p_creator_id;

  IF v_creator_count >= 150 THEN
    RETURN json_build_object('success', false, 'error', 'Creator has reached the maximum of 150 friends');
  END IF;

  -- Mark invite as used
  UPDATE invite_codes
  SET used_by_id = p_user_id, used_at = NOW()
  WHERE id = p_invite_id;

  -- Create friendship
  INSERT INTO friendships (user_a_id, user_b_id)
  VALUES (v_user_a, v_user_b);

  -- Notify creator
  PERFORM upsert_notification(p_creator_id, 'friend_joined', p_invite_id, p_user_id);

  RETURN json_build_object('success', true, 'message', 'Friendship created');
END;
$$;


ALTER FUNCTION "public"."join_friendship_transaction"("p_invite_id" "uuid", "p_user_id" "uuid", "p_creator_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."join_lockout_session"("p_lockout_id" "uuid") RETURNS json
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
DECLARE
  v_user_id UUID;
  v_lockout RECORD;
BEGIN
  v_user_id := auth.uid();

  IF v_user_id IS NULL THEN
    RETURN json_build_object('success', false, 'error', 'User not authenticated');
  END IF;

  SELECT * INTO v_lockout FROM lockout_sessions WHERE id = p_lockout_id;

  IF v_lockout IS NULL THEN
    RETURN json_build_object('success', false, 'error', 'Lockout not found');
  END IF;

  IF v_lockout.ends_at < NOW() OR v_lockout.post_id IS NOT NULL THEN
    RETURN json_build_object('success', false, 'error', 'Lockout has ended');
  END IF;

  -- Check friendship
  IF NOT EXISTS (
    SELECT 1 FROM friendships f
    WHERE (f.user_a_id = v_user_id AND f.user_b_id = v_lockout.user_id)
       OR (f.user_b_id = v_user_id AND f.user_a_id = v_lockout.user_id)
  ) THEN
    RETURN json_build_object('success', false, 'error', 'You must be friends to join a lockout');
  END IF;

  -- Check if already joined
  IF v_user_id = ANY(v_lockout.participants) THEN
    RETURN json_build_object('success', true, 'message', 'Already joined this lockout');
  END IF;

  -- Add to participants
  UPDATE lockout_sessions
  SET participants = array_append(participants, v_user_id)
  WHERE id = p_lockout_id;

  -- Notify owner
  PERFORM upsert_notification(v_lockout.user_id, 'lockout_joined', p_lockout_id, v_user_id);

  RETURN json_build_object('success', true, 'message', 'Joined lockout');
END;
$$;


ALTER FUNCTION "public"."join_lockout_session"("p_lockout_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."mark_notifications_read"() RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
DECLARE
  v_user_id UUID;
BEGIN
  v_user_id := auth.uid();

  IF v_user_id IS NULL THEN
    RAISE EXCEPTION 'User not authenticated';
  END IF;

  UPDATE notifications
  SET read_at = NOW()
  WHERE user_id = v_user_id AND read_at IS NULL;
END;
$$;


ALTER FUNCTION "public"."mark_notifications_read"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."save_post_to_calendar"("p_post_id" "uuid") RETURNS json
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
DECLARE
  v_user_id UUID;
  v_post RECORD;
  v_calendar_date DATE;
  v_existing_post_id UUID;
BEGIN
  v_user_id := auth.uid();

  IF v_user_id IS NULL THEN
    RETURN json_build_object('success', false, 'error', 'User not authenticated');
  END IF;

  SELECT * INTO v_post FROM posts WHERE id = p_post_id;

  IF v_post IS NULL THEN
    RETURN json_build_object('success', false, 'error', 'Post not found');
  END IF;

  IF v_post.author_id != v_user_id THEN
    RETURN json_build_object('success', false, 'error', 'Cannot save other users posts');
  END IF;

  IF v_post.calendar_saved_at IS NOT NULL THEN
    RETURN json_build_object('success', true, 'message', 'Post already saved to calendar');
  END IF;

  -- Check 24h window
  IF v_post.published_at < NOW() - INTERVAL '24 hours' THEN
    RETURN json_build_object('success', false, 'error', 'Selection window has expired');
  END IF;

  -- Check if another post already saved for this calendar day
  v_calendar_date := DATE(v_post.published_at AT TIME ZONE COALESCE(v_post.published_timezone, 'UTC'));

  SELECT id INTO v_existing_post_id
  FROM posts
  WHERE author_id = v_user_id
    AND calendar_saved_at IS NOT NULL
    AND DATE(published_at AT TIME ZONE COALESCE(published_timezone, 'UTC')) = v_calendar_date
    AND id != p_post_id;

  IF v_existing_post_id IS NOT NULL THEN
    RETURN json_build_object(
      'success', false,
      'error', 'Another post already saved for this day',
      'existing_post_id', v_existing_post_id
    );
  END IF;

  UPDATE posts SET calendar_saved_at = NOW() WHERE id = p_post_id;

  RETURN json_build_object('success', true, 'message', 'Post saved to calendar');
END;
$$;


ALTER FUNCTION "public"."save_post_to_calendar"("p_post_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."set_invite_used_at"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  IF NEW.used_by_id IS NOT NULL AND OLD.used_by_id IS NULL THEN
    NEW.used_at = NOW();
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."set_invite_used_at"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."set_updated_at"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."set_updated_at"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."trigger_notification_on_comment"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  v_post_author_id UUID;
BEGIN
  SELECT author_id INTO v_post_author_id FROM posts WHERE id = NEW.post_id;

  IF v_post_author_id IS NOT NULL THEN
    PERFORM upsert_notification(v_post_author_id, 'comment', NEW.post_id, NEW.author_id);
  END IF;

  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."trigger_notification_on_comment"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."trigger_notification_on_lockout_start"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  v_friend_id UUID;
BEGIN
  FOR v_friend_id IN
    SELECT CASE
      WHEN f.user_a_id = NEW.user_id THEN f.user_b_id
      ELSE f.user_a_id
    END
    FROM friendships f
    WHERE f.user_a_id = NEW.user_id OR f.user_b_id = NEW.user_id
  LOOP
    PERFORM upsert_notification(v_friend_id, 'lockout_started', NEW.id, NEW.user_id);
  END LOOP;

  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."trigger_notification_on_lockout_start"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."trigger_notification_on_reaction"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  v_post_author_id UUID;
BEGIN
  SELECT author_id INTO v_post_author_id FROM posts WHERE id = NEW.post_id;

  IF v_post_author_id IS NOT NULL THEN
    PERFORM upsert_notification(v_post_author_id, 'reaction', NEW.post_id, NEW.user_id);
  END IF;

  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."trigger_notification_on_reaction"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."trigger_notification_on_tag"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  v_post_author_id UUID;
BEGIN
  SELECT author_id INTO v_post_author_id FROM posts WHERE id = NEW.post_id;

  PERFORM upsert_notification(NEW.tagged_user_id, 'tag', NEW.post_id, v_post_author_id);

  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."trigger_notification_on_tag"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."trigger_populate_post_tag_denorm"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  SELECT username, avatar_url
  INTO NEW.username, NEW.avatar_url
  FROM profiles
  WHERE id = NEW.tagged_user_id;

  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."trigger_populate_post_tag_denorm"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."trigger_update_weekly_lockout_minutes"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  v_duration_minutes INT;
BEGIN
  IF OLD.post_id IS NULL AND NEW.post_id IS NOT NULL THEN
    v_duration_minutes := EXTRACT(EPOCH FROM (LEAST(NEW.ends_at, NOW()) - NEW.started_at)) / 60;

    UPDATE profiles
    SET weekly_lockout_minutes = weekly_lockout_minutes + v_duration_minutes
    WHERE id = NEW.user_id;
  END IF;

  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."trigger_update_weekly_lockout_minutes"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."upsert_notification"("p_user_id" "uuid", "p_type" "text", "p_reference_id" "uuid", "p_actor_id" "uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
BEGIN
  -- Don't notify user of their own actions
  IF p_user_id = p_actor_id THEN
    RETURN;
  END IF;

  INSERT INTO notifications (user_id, type, reference_id, latest_actor_id, actor_count)
  VALUES (p_user_id, p_type, p_reference_id, p_actor_id, 1)
  ON CONFLICT (user_id, type, reference_id) DO UPDATE SET
    latest_actor_id = p_actor_id,
    actor_count = notifications.actor_count + 1,
    updated_at = NOW(),
    read_at = NULL;
END;
$$;


ALTER FUNCTION "public"."upsert_notification"("p_user_id" "uuid", "p_type" "text", "p_reference_id" "uuid", "p_actor_id" "uuid") OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."app_config" (
    "key" "text" NOT NULL,
    "value" "text" NOT NULL,
    "description" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."app_config" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."friendships" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_a_id" "uuid" NOT NULL,
    "user_b_id" "uuid" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    CONSTRAINT "friendship_ordered" CHECK (("user_a_id" < "user_b_id"))
);


ALTER TABLE "public"."friendships" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."invite_codes" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "code" "text" NOT NULL,
    "creator_id" "uuid" NOT NULL,
    "used_by_id" "uuid",
    "expires_at" timestamp with time zone NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "used_at" timestamp with time zone
);


ALTER TABLE "public"."invite_codes" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."lockout_sessions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "started_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "ends_at" timestamp with time zone NOT NULL,
    "action_text" "text",
    "location_lat" double precision,
    "location_lng" double precision,
    "location_name" "text",
    "participants" "uuid"[] DEFAULT '{}'::"uuid"[],
    "post_id" "uuid",
    CONSTRAINT "action_text_length" CHECK ((("action_text" IS NULL) OR ("char_length"("action_text") <= 100)))
);


ALTER TABLE "public"."lockout_sessions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."notifications" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "type" "text" NOT NULL,
    "reference_id" "uuid" NOT NULL,
    "latest_actor_id" "uuid",
    "actor_count" integer DEFAULT 1,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "read_at" timestamp with time zone
);


ALTER TABLE "public"."notifications" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."post_comments" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "post_id" "uuid" NOT NULL,
    "author_id" "uuid" NOT NULL,
    "content" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "deleted_at" timestamp with time zone,
    CONSTRAINT "content_length" CHECK (("char_length"("content") <= 500))
);


ALTER TABLE "public"."post_comments" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."post_media" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "post_id" "uuid" NOT NULL,
    "media_url" "text" NOT NULL,
    "media_type" "text" NOT NULL,
    "width" integer,
    "height" integer,
    "duration_seconds" double precision,
    "sort_order" integer DEFAULT 0 NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    CONSTRAINT "valid_sort_order" CHECK (("sort_order" >= 0))
);


ALTER TABLE "public"."post_media" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."post_reactions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "post_id" "uuid" NOT NULL,
    "user_id" "uuid" NOT NULL,
    "reaction" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."post_reactions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."post_tags" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "post_id" "uuid" NOT NULL,
    "tagged_user_id" "uuid" NOT NULL,
    "username" "text" NOT NULL,
    "avatar_url" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."post_tags" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."posts" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "author_id" "uuid",
    "lockout_id" "uuid",
    "thumbnail_url" "text" NOT NULL,
    "thumbnail_width" integer NOT NULL,
    "thumbnail_height" integer NOT NULL,
    "content_type" "public"."content_type" NOT NULL,
    "description" "text",
    "published_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "published_timezone" "text" DEFAULT 'UTC'::"text" NOT NULL,
    "calendar_saved_at" timestamp with time zone,
    "excluded_user_ids" "uuid"[] DEFAULT '{}'::"uuid"[],
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    CONSTRAINT "description_length" CHECK ((("description" IS NULL) OR ("char_length"("description") <= 500)))
);


ALTER TABLE "public"."posts" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."profiles" (
    "id" "uuid" NOT NULL,
    "username" "text" NOT NULL,
    "biography" "text",
    "avatar_url" "text",
    "weekly_lockout_minutes" integer DEFAULT 0,
    "notifications_checked_at" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    CONSTRAINT "bio_length" CHECK ((("biography" IS NULL) OR ("char_length"("biography") <= 200))),
    CONSTRAINT "username_length" CHECK (("char_length"("username") <= 30))
);


ALTER TABLE "public"."profiles" OWNER TO "postgres";


ALTER TABLE ONLY "public"."app_config"
    ADD CONSTRAINT "app_config_pkey" PRIMARY KEY ("key");



ALTER TABLE ONLY "public"."friendships"
    ADD CONSTRAINT "friendship_unique" UNIQUE ("user_a_id", "user_b_id");



ALTER TABLE ONLY "public"."friendships"
    ADD CONSTRAINT "friendships_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."invite_codes"
    ADD CONSTRAINT "invite_codes_code_key" UNIQUE ("code");



ALTER TABLE ONLY "public"."invite_codes"
    ADD CONSTRAINT "invite_codes_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."lockout_sessions"
    ADD CONSTRAINT "lockout_sessions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."post_comments"
    ADD CONSTRAINT "post_comments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."post_media"
    ADD CONSTRAINT "post_media_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."post_reactions"
    ADD CONSTRAINT "post_reactions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."post_tags"
    ADD CONSTRAINT "post_tags_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."posts"
    ADD CONSTRAINT "posts_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "unique_notification" UNIQUE ("user_id", "type", "reference_id");



ALTER TABLE ONLY "public"."post_tags"
    ADD CONSTRAINT "unique_post_tag" UNIQUE ("post_id", "tagged_user_id");



ALTER TABLE ONLY "public"."post_reactions"
    ADD CONSTRAINT "unique_user_post_reaction" UNIQUE ("post_id", "user_id");



CREATE INDEX "idx_friendships_user_a" ON "public"."friendships" USING "btree" ("user_a_id");



CREATE INDEX "idx_friendships_user_b" ON "public"."friendships" USING "btree" ("user_b_id");



CREATE INDEX "idx_invite_codes_code" ON "public"."invite_codes" USING "btree" ("code");



CREATE INDEX "idx_invite_codes_creator" ON "public"."invite_codes" USING "btree" ("creator_id");



CREATE INDEX "idx_invite_codes_expires" ON "public"."invite_codes" USING "btree" ("expires_at");



CREATE INDEX "idx_lockout_sessions_active" ON "public"."lockout_sessions" USING "btree" ("user_id", "ends_at") WHERE ("post_id" IS NULL);



CREATE INDEX "idx_lockout_sessions_user" ON "public"."lockout_sessions" USING "btree" ("user_id");



CREATE INDEX "idx_notifications_unread" ON "public"."notifications" USING "btree" ("user_id", "updated_at" DESC) WHERE ("read_at" IS NULL);



CREATE INDEX "idx_notifications_user" ON "public"."notifications" USING "btree" ("user_id");



CREATE INDEX "idx_post_comments_author" ON "public"."post_comments" USING "btree" ("author_id");



CREATE INDEX "idx_post_comments_created" ON "public"."post_comments" USING "btree" ("post_id", "created_at" DESC);



CREATE INDEX "idx_post_comments_post" ON "public"."post_comments" USING "btree" ("post_id");



CREATE INDEX "idx_post_media_post" ON "public"."post_media" USING "btree" ("post_id");



CREATE UNIQUE INDEX "idx_post_media_unique_type" ON "public"."post_media" USING "btree" ("post_id", "media_type");



CREATE INDEX "idx_post_reactions_post" ON "public"."post_reactions" USING "btree" ("post_id");



CREATE INDEX "idx_post_reactions_user" ON "public"."post_reactions" USING "btree" ("user_id");



CREATE INDEX "idx_post_tags_post" ON "public"."post_tags" USING "btree" ("post_id");



CREATE INDEX "idx_post_tags_user" ON "public"."post_tags" USING "btree" ("tagged_user_id");



CREATE INDEX "idx_posts_author" ON "public"."posts" USING "btree" ("author_id");



CREATE INDEX "idx_posts_calendar" ON "public"."posts" USING "btree" ("author_id", "calendar_saved_at") WHERE ("calendar_saved_at" IS NOT NULL);



CREATE INDEX "idx_posts_lockout" ON "public"."posts" USING "btree" ("lockout_id");



CREATE INDEX "idx_posts_pending" ON "public"."posts" USING "btree" ("author_id", "published_at") WHERE ("calendar_saved_at" IS NULL);



CREATE INDEX "idx_posts_published" ON "public"."posts" USING "btree" ("published_at" DESC);



CREATE UNIQUE INDEX "profiles_username_unique_ci" ON "public"."profiles" USING "btree" ("lower"("username"));



CREATE OR REPLACE TRIGGER "trg_app_config_updated_at" BEFORE UPDATE ON "public"."app_config" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "trg_check_invite_limit" BEFORE INSERT ON "public"."invite_codes" FOR EACH ROW EXECUTE FUNCTION "public"."check_invite_codes_limit"();



CREATE OR REPLACE TRIGGER "trg_invite_codes_used_at" BEFORE UPDATE ON "public"."invite_codes" FOR EACH ROW EXECUTE FUNCTION "public"."set_invite_used_at"();



CREATE OR REPLACE TRIGGER "trg_notification_on_comment" AFTER INSERT ON "public"."post_comments" FOR EACH ROW EXECUTE FUNCTION "public"."trigger_notification_on_comment"();



CREATE OR REPLACE TRIGGER "trg_notification_on_lockout_start" AFTER INSERT ON "public"."lockout_sessions" FOR EACH ROW EXECUTE FUNCTION "public"."trigger_notification_on_lockout_start"();



CREATE OR REPLACE TRIGGER "trg_notification_on_reaction" AFTER INSERT ON "public"."post_reactions" FOR EACH ROW EXECUTE FUNCTION "public"."trigger_notification_on_reaction"();



CREATE OR REPLACE TRIGGER "trg_notification_on_tag" AFTER INSERT ON "public"."post_tags" FOR EACH ROW EXECUTE FUNCTION "public"."trigger_notification_on_tag"();



CREATE OR REPLACE TRIGGER "trg_notifications_updated_at" BEFORE UPDATE ON "public"."notifications" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "trg_populate_post_tag_denorm" BEFORE INSERT ON "public"."post_tags" FOR EACH ROW EXECUTE FUNCTION "public"."trigger_populate_post_tag_denorm"();



CREATE OR REPLACE TRIGGER "trg_post_reactions_updated_at" BEFORE UPDATE ON "public"."post_reactions" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "trg_posts_updated_at" BEFORE UPDATE ON "public"."posts" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "trg_profiles_updated_at" BEFORE UPDATE ON "public"."profiles" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "trg_update_weekly_lockout_minutes" AFTER UPDATE ON "public"."lockout_sessions" FOR EACH ROW EXECUTE FUNCTION "public"."trigger_update_weekly_lockout_minutes"();



ALTER TABLE ONLY "public"."friendships"
    ADD CONSTRAINT "friendships_user_a_id_fkey" FOREIGN KEY ("user_a_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."friendships"
    ADD CONSTRAINT "friendships_user_b_id_fkey" FOREIGN KEY ("user_b_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."invite_codes"
    ADD CONSTRAINT "invite_codes_creator_id_fkey" FOREIGN KEY ("creator_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."invite_codes"
    ADD CONSTRAINT "invite_codes_used_by_id_fkey" FOREIGN KEY ("used_by_id") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."lockout_sessions"
    ADD CONSTRAINT "lockout_sessions_post_id_fkey" FOREIGN KEY ("post_id") REFERENCES "public"."posts"("id");



ALTER TABLE ONLY "public"."lockout_sessions"
    ADD CONSTRAINT "lockout_sessions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_latest_actor_id_fkey" FOREIGN KEY ("latest_actor_id") REFERENCES "public"."profiles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."post_comments"
    ADD CONSTRAINT "post_comments_author_id_fkey" FOREIGN KEY ("author_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."post_comments"
    ADD CONSTRAINT "post_comments_post_id_fkey" FOREIGN KEY ("post_id") REFERENCES "public"."posts"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."post_media"
    ADD CONSTRAINT "post_media_post_id_fkey" FOREIGN KEY ("post_id") REFERENCES "public"."posts"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."post_reactions"
    ADD CONSTRAINT "post_reactions_post_id_fkey" FOREIGN KEY ("post_id") REFERENCES "public"."posts"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."post_reactions"
    ADD CONSTRAINT "post_reactions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."post_tags"
    ADD CONSTRAINT "post_tags_post_id_fkey" FOREIGN KEY ("post_id") REFERENCES "public"."posts"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."post_tags"
    ADD CONSTRAINT "post_tags_tagged_user_id_fkey" FOREIGN KEY ("tagged_user_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."posts"
    ADD CONSTRAINT "posts_author_id_fkey" FOREIGN KEY ("author_id") REFERENCES "public"."profiles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."posts"
    ADD CONSTRAINT "posts_lockout_id_fkey" FOREIGN KEY ("lockout_id") REFERENCES "public"."lockout_sessions"("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



CREATE POLICY "Anyone can view valid codes for joining" ON "public"."invite_codes" FOR SELECT USING ((("used_by_id" IS NULL) AND ("expires_at" > "now"())));



CREATE POLICY "Authors can manage post tags" ON "public"."post_tags" USING ((EXISTS ( SELECT 1
   FROM "public"."posts" "p"
  WHERE (("p"."id" = "post_tags"."post_id") AND ("p"."author_id" = "auth"."uid"())))));



CREATE POLICY "Comments viewable via post access" ON "public"."post_comments" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM "public"."posts" "p"
  WHERE (("p"."id" = "post_comments"."post_id") AND (("p"."author_id" = "auth"."uid"()) OR ((NOT ("auth"."uid"() = ANY ("p"."excluded_user_ids"))) AND (EXISTS ( SELECT 1
           FROM "public"."friendships" "f"
          WHERE ((("f"."user_a_id" = "auth"."uid"()) AND ("f"."user_b_id" = "p"."author_id")) OR (("f"."user_b_id" = "auth"."uid"()) AND ("f"."user_a_id" = "p"."author_id")))))))))));



CREATE POLICY "Config readable by security definer functions" ON "public"."app_config" FOR SELECT USING (true);



CREATE POLICY "Media viewable via post access" ON "public"."post_media" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM "public"."posts" "p"
  WHERE (("p"."id" = "post_media"."post_id") AND (("p"."author_id" = "auth"."uid"()) OR ((NOT ("auth"."uid"() = ANY ("p"."excluded_user_ids"))) AND (EXISTS ( SELECT 1
           FROM "public"."friendships" "f"
          WHERE ((("f"."user_a_id" = "auth"."uid"()) AND ("f"."user_b_id" = "p"."author_id")) OR (("f"."user_b_id" = "auth"."uid"()) AND ("f"."user_a_id" = "p"."author_id")))))))))));



CREATE POLICY "Public profiles are viewable by everyone" ON "public"."profiles" FOR SELECT USING (true);



CREATE POLICY "Reactions are viewable by authenticated users" ON "public"."post_reactions" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Tags viewable via post access" ON "public"."post_tags" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM "public"."posts" "p"
  WHERE (("p"."id" = "post_tags"."post_id") AND (("p"."author_id" = "auth"."uid"()) OR ((NOT ("auth"."uid"() = ANY ("p"."excluded_user_ids"))) AND (EXISTS ( SELECT 1
           FROM "public"."friendships" "f"
          WHERE ((("f"."user_a_id" = "auth"."uid"()) AND ("f"."user_b_id" = "p"."author_id")) OR (("f"."user_b_id" = "auth"."uid"()) AND ("f"."user_a_id" = "p"."author_id")))))))))));



CREATE POLICY "Users can comment on visible posts" ON "public"."post_comments" FOR INSERT WITH CHECK ((("author_id" = "auth"."uid"()) AND (EXISTS ( SELECT 1
   FROM "public"."posts" "p"
  WHERE (("p"."id" = "post_comments"."post_id") AND (NOT ("auth"."uid"() = ANY ("p"."excluded_user_ids"))) AND (("p"."author_id" = "auth"."uid"()) OR (EXISTS ( SELECT 1
           FROM "public"."friendships" "f"
          WHERE ((("f"."user_a_id" = "auth"."uid"()) AND ("f"."user_b_id" = "p"."author_id")) OR (("f"."user_b_id" = "auth"."uid"()) AND ("f"."user_a_id" = "p"."author_id")))))))))));



CREATE POLICY "Users can create invite codes" ON "public"."invite_codes" FOR INSERT WITH CHECK (("auth"."uid"() = "creator_id"));



CREATE POLICY "Users can create own lockouts" ON "public"."lockout_sessions" FOR INSERT WITH CHECK (("user_id" = "auth"."uid"()));



CREATE POLICY "Users can create own posts" ON "public"."posts" FOR INSERT WITH CHECK (("author_id" = "auth"."uid"()));



CREATE POLICY "Users can delete own notifications" ON "public"."notifications" FOR DELETE USING (("user_id" = "auth"."uid"()));



CREATE POLICY "Users can delete own posts" ON "public"."posts" FOR DELETE USING (("author_id" = "auth"."uid"()));



CREATE POLICY "Users can delete own profile" ON "public"."profiles" FOR DELETE USING (("auth"."uid"() = "id"));



CREATE POLICY "Users can delete own reactions" ON "public"."post_reactions" FOR DELETE USING (("user_id" = "auth"."uid"()));



CREATE POLICY "Users can delete their friendships" ON "public"."friendships" FOR DELETE USING ((("auth"."uid"() = "user_a_id") OR ("auth"."uid"() = "user_b_id")));



CREATE POLICY "Users can insert own profile" ON "public"."profiles" FOR INSERT WITH CHECK (("auth"."uid"() = "id"));



CREATE POLICY "Users can manage own post media" ON "public"."post_media" USING ((EXISTS ( SELECT 1
   FROM "public"."posts" "p"
  WHERE (("p"."id" = "post_media"."post_id") AND ("p"."author_id" = "auth"."uid"())))));



CREATE POLICY "Users can react to visible posts" ON "public"."post_reactions" FOR INSERT WITH CHECK ((("user_id" = "auth"."uid"()) AND (EXISTS ( SELECT 1
   FROM "public"."posts" "p"
  WHERE (("p"."id" = "post_reactions"."post_id") AND (NOT ("auth"."uid"() = ANY ("p"."excluded_user_ids"))) AND (("p"."author_id" = "auth"."uid"()) OR (EXISTS ( SELECT 1
           FROM "public"."friendships" "f"
          WHERE ((("f"."user_a_id" = "auth"."uid"()) AND ("f"."user_b_id" = "p"."author_id")) OR (("f"."user_b_id" = "auth"."uid"()) AND ("f"."user_a_id" = "p"."author_id")))))))))));



CREATE POLICY "Users can soft delete own comments" ON "public"."post_comments" FOR UPDATE USING (("author_id" = "auth"."uid"()));



CREATE POLICY "Users can update own invite codes" ON "public"."invite_codes" FOR UPDATE USING (("auth"."uid"() = "creator_id"));



CREATE POLICY "Users can update own lockouts" ON "public"."lockout_sessions" FOR UPDATE USING (("user_id" = "auth"."uid"()));



CREATE POLICY "Users can update own notifications" ON "public"."notifications" FOR UPDATE USING (("user_id" = "auth"."uid"()));



CREATE POLICY "Users can update own posts" ON "public"."posts" FOR UPDATE USING (("author_id" = "auth"."uid"()));



CREATE POLICY "Users can update own profile" ON "public"."profiles" FOR UPDATE USING (("auth"."uid"() = "id")) WITH CHECK (("auth"."uid"() = "id"));



CREATE POLICY "Users can update own reactions" ON "public"."post_reactions" FOR UPDATE USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



CREATE POLICY "Users can view friends active lockouts" ON "public"."lockout_sessions" FOR SELECT USING ((("post_id" IS NULL) AND ("ends_at" > "now"()) AND (EXISTS ( SELECT 1
   FROM "public"."friendships" "f"
  WHERE ((("f"."user_a_id" = "auth"."uid"()) AND ("f"."user_b_id" = "lockout_sessions"."user_id")) OR (("f"."user_b_id" = "auth"."uid"()) AND ("f"."user_a_id" = "lockout_sessions"."user_id")))))));



CREATE POLICY "Users can view friends posts not excluded" ON "public"."posts" FOR SELECT USING (((NOT ("auth"."uid"() = ANY ("excluded_user_ids"))) AND (EXISTS ( SELECT 1
   FROM "public"."friendships" "f"
  WHERE ((("f"."user_a_id" = "auth"."uid"()) AND ("f"."user_b_id" = "posts"."author_id")) OR (("f"."user_b_id" = "auth"."uid"()) AND ("f"."user_a_id" = "posts"."author_id")))))));



CREATE POLICY "Users can view own invite codes" ON "public"."invite_codes" FOR SELECT USING (("auth"."uid"() = "creator_id"));



CREATE POLICY "Users can view own lockouts" ON "public"."lockout_sessions" FOR SELECT USING (("user_id" = "auth"."uid"()));



CREATE POLICY "Users can view own notifications" ON "public"."notifications" FOR SELECT USING (("user_id" = "auth"."uid"()));



CREATE POLICY "Users can view own posts" ON "public"."posts" FOR SELECT USING (("author_id" = "auth"."uid"()));



CREATE POLICY "Users can view their friendships" ON "public"."friendships" FOR SELECT USING ((("auth"."uid"() = "user_a_id") OR ("auth"."uid"() = "user_b_id")));



ALTER TABLE "public"."app_config" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."friendships" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."invite_codes" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."lockout_sessions" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."notifications" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."post_comments" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."post_media" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."post_reactions" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."post_tags" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."posts" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."profiles" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "extensions" TO "anon";
GRANT USAGE ON SCHEMA "extensions" TO "authenticated";
GRANT USAGE ON SCHEMA "extensions" TO "service_role";
GRANT ALL ON SCHEMA "extensions" TO "dashboard_user";



GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



REVOKE ALL ON FUNCTION "extensions"."grant_pg_cron_access"() FROM "supabase_admin";
GRANT ALL ON FUNCTION "extensions"."grant_pg_cron_access"() TO "supabase_admin" WITH GRANT OPTION;
GRANT ALL ON FUNCTION "extensions"."grant_pg_cron_access"() TO "dashboard_user";



GRANT ALL ON FUNCTION "extensions"."grant_pg_graphql_access"() TO "postgres" WITH GRANT OPTION;



REVOKE ALL ON FUNCTION "extensions"."grant_pg_net_access"() FROM "supabase_admin";
GRANT ALL ON FUNCTION "extensions"."grant_pg_net_access"() TO "supabase_admin" WITH GRANT OPTION;
GRANT ALL ON FUNCTION "extensions"."grant_pg_net_access"() TO "dashboard_user";



GRANT ALL ON FUNCTION "extensions"."pgrst_ddl_watch"() TO "postgres" WITH GRANT OPTION;



GRANT ALL ON FUNCTION "extensions"."pgrst_drop_watch"() TO "postgres" WITH GRANT OPTION;



GRANT ALL ON FUNCTION "extensions"."set_graphql_placeholder"() TO "postgres" WITH GRANT OPTION;



GRANT ALL ON FUNCTION "public"."check_invite_codes_limit"() TO "anon";
GRANT ALL ON FUNCTION "public"."check_invite_codes_limit"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."check_invite_codes_limit"() TO "service_role";



GRANT ALL ON FUNCTION "public"."cleanup_unsaved_posts"() TO "anon";
GRANT ALL ON FUNCTION "public"."cleanup_unsaved_posts"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."cleanup_unsaved_posts"() TO "service_role";



GRANT ALL ON FUNCTION "public"."get_friends_locked_out"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_friends_locked_out"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_friends_locked_out"() TO "service_role";



GRANT ALL ON FUNCTION "public"."get_notification_feed"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_notification_feed"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_notification_feed"() TO "service_role";



GRANT ALL ON FUNCTION "public"."get_post_by_id"("p_post_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."get_post_by_id"("p_post_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_post_by_id"("p_post_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."get_post_comments"("p_post_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."get_post_comments"("p_post_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_post_comments"("p_post_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."get_post_reactions"("p_post_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."get_post_reactions"("p_post_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_post_reactions"("p_post_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."get_unread_notification_count"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_unread_notification_count"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_unread_notification_count"() TO "service_role";



GRANT ALL ON FUNCTION "public"."get_user_calendar"("p_target_user_id" "uuid", "p_year" integer, "p_month" integer) TO "anon";
GRANT ALL ON FUNCTION "public"."get_user_calendar"("p_target_user_id" "uuid", "p_year" integer, "p_month" integer) TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_user_calendar"("p_target_user_id" "uuid", "p_year" integer, "p_month" integer) TO "service_role";



GRANT ALL ON FUNCTION "public"."get_user_feed"("p_cursor" timestamp with time zone, "p_page_size" integer) TO "anon";
GRANT ALL ON FUNCTION "public"."get_user_feed"("p_cursor" timestamp with time zone, "p_page_size" integer) TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_user_feed"("p_cursor" timestamp with time zone, "p_page_size" integer) TO "service_role";



GRANT ALL ON FUNCTION "public"."get_user_friends"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_user_friends"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_user_friends"() TO "service_role";



GRANT ALL ON FUNCTION "public"."join_friendship_transaction"("p_invite_id" "uuid", "p_user_id" "uuid", "p_creator_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."join_friendship_transaction"("p_invite_id" "uuid", "p_user_id" "uuid", "p_creator_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."join_friendship_transaction"("p_invite_id" "uuid", "p_user_id" "uuid", "p_creator_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."join_lockout_session"("p_lockout_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."join_lockout_session"("p_lockout_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."join_lockout_session"("p_lockout_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."mark_notifications_read"() TO "anon";
GRANT ALL ON FUNCTION "public"."mark_notifications_read"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."mark_notifications_read"() TO "service_role";



GRANT ALL ON FUNCTION "public"."save_post_to_calendar"("p_post_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."save_post_to_calendar"("p_post_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."save_post_to_calendar"("p_post_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."set_invite_used_at"() TO "anon";
GRANT ALL ON FUNCTION "public"."set_invite_used_at"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."set_invite_used_at"() TO "service_role";



GRANT ALL ON FUNCTION "public"."set_updated_at"() TO "anon";
GRANT ALL ON FUNCTION "public"."set_updated_at"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."set_updated_at"() TO "service_role";



GRANT ALL ON FUNCTION "public"."trigger_notification_on_comment"() TO "anon";
GRANT ALL ON FUNCTION "public"."trigger_notification_on_comment"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."trigger_notification_on_comment"() TO "service_role";



GRANT ALL ON FUNCTION "public"."trigger_notification_on_lockout_start"() TO "anon";
GRANT ALL ON FUNCTION "public"."trigger_notification_on_lockout_start"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."trigger_notification_on_lockout_start"() TO "service_role";



GRANT ALL ON FUNCTION "public"."trigger_notification_on_reaction"() TO "anon";
GRANT ALL ON FUNCTION "public"."trigger_notification_on_reaction"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."trigger_notification_on_reaction"() TO "service_role";



GRANT ALL ON FUNCTION "public"."trigger_notification_on_tag"() TO "anon";
GRANT ALL ON FUNCTION "public"."trigger_notification_on_tag"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."trigger_notification_on_tag"() TO "service_role";



GRANT ALL ON FUNCTION "public"."trigger_populate_post_tag_denorm"() TO "anon";
GRANT ALL ON FUNCTION "public"."trigger_populate_post_tag_denorm"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."trigger_populate_post_tag_denorm"() TO "service_role";



GRANT ALL ON FUNCTION "public"."trigger_update_weekly_lockout_minutes"() TO "anon";
GRANT ALL ON FUNCTION "public"."trigger_update_weekly_lockout_minutes"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."trigger_update_weekly_lockout_minutes"() TO "service_role";



GRANT ALL ON FUNCTION "public"."upsert_notification"("p_user_id" "uuid", "p_type" "text", "p_reference_id" "uuid", "p_actor_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."upsert_notification"("p_user_id" "uuid", "p_type" "text", "p_reference_id" "uuid", "p_actor_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."upsert_notification"("p_user_id" "uuid", "p_type" "text", "p_reference_id" "uuid", "p_actor_id" "uuid") TO "service_role";



GRANT ALL ON TABLE "public"."app_config" TO "anon";
GRANT ALL ON TABLE "public"."app_config" TO "authenticated";
GRANT ALL ON TABLE "public"."app_config" TO "service_role";



GRANT ALL ON TABLE "public"."friendships" TO "anon";
GRANT ALL ON TABLE "public"."friendships" TO "authenticated";
GRANT ALL ON TABLE "public"."friendships" TO "service_role";



GRANT ALL ON TABLE "public"."invite_codes" TO "anon";
GRANT ALL ON TABLE "public"."invite_codes" TO "authenticated";
GRANT ALL ON TABLE "public"."invite_codes" TO "service_role";



GRANT ALL ON TABLE "public"."lockout_sessions" TO "anon";
GRANT ALL ON TABLE "public"."lockout_sessions" TO "authenticated";
GRANT ALL ON TABLE "public"."lockout_sessions" TO "service_role";



GRANT ALL ON TABLE "public"."notifications" TO "anon";
GRANT ALL ON TABLE "public"."notifications" TO "authenticated";
GRANT ALL ON TABLE "public"."notifications" TO "service_role";



GRANT ALL ON TABLE "public"."post_comments" TO "anon";
GRANT ALL ON TABLE "public"."post_comments" TO "authenticated";
GRANT ALL ON TABLE "public"."post_comments" TO "service_role";



GRANT ALL ON TABLE "public"."post_media" TO "anon";
GRANT ALL ON TABLE "public"."post_media" TO "authenticated";
GRANT ALL ON TABLE "public"."post_media" TO "service_role";



GRANT ALL ON TABLE "public"."post_reactions" TO "anon";
GRANT ALL ON TABLE "public"."post_reactions" TO "authenticated";
GRANT ALL ON TABLE "public"."post_reactions" TO "service_role";



GRANT ALL ON TABLE "public"."post_tags" TO "anon";
GRANT ALL ON TABLE "public"."post_tags" TO "authenticated";
GRANT ALL ON TABLE "public"."post_tags" TO "service_role";



GRANT ALL ON TABLE "public"."posts" TO "anon";
GRANT ALL ON TABLE "public"."posts" TO "authenticated";
GRANT ALL ON TABLE "public"."posts" TO "service_role";



GRANT ALL ON TABLE "public"."profiles" TO "anon";
GRANT ALL ON TABLE "public"."profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."profiles" TO "service_role";












ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







